<section class="hero">
    <div class="container bg">
        <h1 class="hero-title">Sproboj najlepsze napoje i koktajli</h1>
        <p class="hero-subtitle">oraz mozesz dodawac swoje</p>
        <div class="hero-buttons">
            <a href="/przepisy" class="btn btn-primary">Przeglądaj Przepisy</a>
        </div>
    </div>
</section>

<section class="features-section">
    <div class="container">
        <div class="section-header">
            <h2>Co proponujemy?</h2>
        </div>
        <div class="features-grid">
            <div class="feature-card" style="background-image: url('https://recipes.av.ru//media/recipes/102265_picture.jpg');">
                <div class="feature-icon">
                    <i class="fa fa-beer fa-2x"></i>
                </div>
                <h3>Napoje 18+</h3>
            </div>
            <div class="feature-card" style="background-image: url('https://swn.ru/upload/resize_cache/iblock/712/550_550_2/xdc3ji6zddr34urbub47lkoj7ghnb5ry.jpg');">
                <div class="feature-icon">
                    <i class="fa fa-certificate fa-2x"></i>
                </div>
                <h3>Napoje bezalkocholowe</h3>
            </div>
            <div class="feature-card" style="background-image: url('https://e3.edimdoma.ru/data/posts/0002/5904/25904-ed4_wide.jpg?1662982620');">
                <div class="feature-icon">
                    <i class="fa fa-coffee fa-2x"></i>

                </div>
                <h3>Bubble Tea dla dziecka</h3>
            </div>
        </div>
    </div>
</section>

<section class="info-section">
    <div class="container">
        <div class="info-grid">
            <div class="info-card">
                <a href="/przepisy/nowy" class="feature-icon-link">
                    <div class="feature-icon">
                        <i class="fas fa-plus fa-2x"></i>
                    </div>
                </a>
                <div class="info-content">
                    <h3>Dodaj swoj ulubiony napoj</h3>
                </div>
            </div>
            <div class="info-card">
                <a href="/users/profil#ulubione" class="feature-icon-link">
                    <div class="feature-icon">
                        <i class="fas fa-heart fa-2x"></i>
                    </div>
                </a>
                <div class="info-content">
                    <h3>Zapisuj Ulubione</h3>
                </div>
            </div>
        </div>
    </div>
</section> 